@media (max-width: 750px) {
    .hero__presentation {
        width: auto;
        margin: 50px 0px;

        h1 {
            max-width: 315px;
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
        }

        p {
            max-width: 382px;
        }
    }
}

@media (max-width: 525px) {
    .hero__buttons {
        flex-direction: column;
        gap: 20px;
    }
}