@use '../../style/variables';

@media (max-width: 1045px) {
    .cta__left-content {
        padding: 40px;

        .cta__title {
            font-size: 45px;
        }
    }

    .cta__illustration {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .cta__container {
        flex-direction: column;
        align-items: center;
    }

    .cta__left-content {
        text-align: center;
        align-items: center;
    }

    .cta__illustration {
        width: 100%;
        align-self: auto;
    }
}

@media (max-width: 550px) {
    .cta {
        padding: 0;
    }

    .cta__container {
        border-radius: 0;

        background-color: #1E1E1E;
    }

    .cta__illustration {
        width: 90%;
    }
}

@media (max-width: 410px) {
    .cta__left-content .cta__title {
        font-size: 30px;
        line-height: normal;
    }
}