$primary-color: #4452FE;
$secondary-color: #02E4C0;
$tertiary-color: #112D57;

$first-text: #000000;
$white-text: #FFFFFF;
$second-text: #5C5C5C;

$dark-background: #181818;
$light-background: #FFFFFF;

$font: 'Graphik Trial', sans-serif; // 400 & 500