@use 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-family;
    color: variables.$white-text;

    background: variables.$dark-background;
}

a {
    color: variables.$white-text;
    font-weight: 500;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    color: variables.$white-text;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: variables.$tertiary-color;
    border-radius: 3px;
}