@use '../../style/_mixins.scss' as *;

.features {
    @include section-size;
    padding: 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.features__header {
    max-width: 582px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    text-align: center;

    h1 {
        font-size: 51px;
        font-weight: 400;
    }

    p {
        font-size: 20px;
        line-height: 30px;
    }
}

.features__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .info__image {
        width: 65%;
    }

    .info__discription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;

        .discription__container {
            max-width: 270px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            .discription__title {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;

                h1 {
                    font-size: 20px;
                    font-weight: 500;
                }

                .discription__icon {
                    width: 30px;
                    transform: translateY(5px);
                }
            }
        }
    }
}

@media (max-width: 918px) {
    .features__info {
        gap: 40px;
    }
}

@media (max-width: 475px) {
    .info__image {
        min-width: 100%;
    }
}